<%= render "layouts/navbar" %>

<legend> 
  <h1>Groups</h1> 
  Need to get some comestibles? <br/> 
  Choose who you're shopping for and let's get some vitties!
</legend>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Group Owner</th>
      <th>Group Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.get_owner_name %></td>
        <td><%= link_to group.name, group_carts_path(group_id: group.id), :class => "lead" %></td>
        <td><%= link_to 'Show Members', group, :class => 'btn' %></td>
        <td><%= link_to 'Edit Name', edit_group_path(group), :class => 'btn' %></td>
        <td><%= button_to 'Delete Group', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="form-actions">
  <%= link_to 'New Group', new_group_path, :class => 'btn' %>
</div>
