<%= render "layouts/navbar" %>

<legend> 
    <strong>Group Name:</strong>
    <h1><%= @group.name %></h1>
    <!-- <br /> -->
    <strong>Owner:</strong>
    <%= User.find(@group.owner_id).name %>
</legend> 


<p>

    <table id="group" class="table table-striped">
      <tr>
        <th>Members</th>
      </tr>
      <% for member in @group.members %>
        <tr class="<%= cycle :odd, :even %>">
          <td><%=h member.name %></td>
        </tr>
      <% end %>
    </table>


    <% if current_user.id == @group.owner_id %>
        <%= form_for :person do |f| %>
        <div class="field">
            <%= f.label :email, 'Add User by email' %><br>
            <%= f.text_field :email %>
        </div>
        <div class="actions">
            <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
        <% end %>        
    <% end %>
</p>

<div class="form-actions">
    <%= link_to 'Edit', edit_group_path(@group), :class => 'btn' %>
    <%= link_to 'Cancel', groups_path, :class => 'btn' %>
</div>
