<%= render "layouts/navbar" %>

<h1>Owed Bills</h1>

<table class="table table-striped">
  <tr>
    <th>Bill Name</th>
    <th>Owed To</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>

<% @bills.each do |bill| %>
    <tr>
      <td><%= bill.cart.cart_name %></td>
      <td><%= bill.get_owed_name %></td>
      <td><%= number_with_precision(bill.amount, :precision => 2) %></td>
      <td>
        <% if bill.status == 'unpaid' %>
          <%= link_to "I've Paid for This", status_paid_path(id: bill.id), method: :post %>
        <% elsif bill.status == 'says_paid' %>
          Confirmation Pending
        <% else %>
          Payment Confirmed
        <% end %>
      </td>
    </tr>
<% end %>

</table>
  
