<%= render "layouts/navbar" %>

<h1><%= @group.name %>'s Carts</h1>

<table class="table table-striped">
  <tr>
    <th>Cart Name</th>
    <th>Finalized?</th>
    <th>Actions</th>
    <th></th>
  </tr>

<% @group.lists.each do |cart| %>
  <tr>
  
    <td>
      <%= link_to cart.cart_name, group_cart_url(id: cart.id, group_id: @group.id) %>
    </td>

    <td>
      <% if cart.finalized %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
    <%= button_to 'Delete', group_cart_path(id: cart.id, group_id: @group.id), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    </td>

  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Create a New Cart', new_group_cart_path, :class => 'btn btn-primary' %>
</div>


