<%= render "layouts/navbar" %>

<h1> <%=@cart.cart_name%> </h1>

<div class="finalized" colspan="4">
  <% if @cart.finalized%>
    <h3>This cart is finalized, no more items can be added</h3>
  <% else %>
    <h3>This cart is not yet finalized, you can keep adding items to it</h3>
  <% end %>
</div>


<table id="cart" class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Qunatity</th>
    <th class="price">Unit Price</th>
    <th class="price">Full Price</th>
  </tr>
  <% for line_item in @cart.items %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%=h line_item.name %></td>
      <td class="qty"><%= line_item.quantity %></td>
      <td class="price"><%= number_to_currency(line_item.unit_price) %></td>
      <td class="price"><%= number_to_currency(line_item.full_price) %></td>

    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @cart.total_price %>
    </td>

    <td class="amount owed" colspan="4">
      Amount each user owes: <%= number_to_currency @cart.total_price / @cart.group.members.length %>
    </td>

  </tr>
</table>

<div class="form-actions">
  <% if not @cart.finalized%>
      <%= link_to "Add Products to this Cart", new_group_cart_item_path(@group, @cart), :class => 'btn' %>
      <%= link_to 'Finalize this Cart', finalize_cart_path(@group, @cart), :class => 'btn btn-danger' %> 
  <% end %>
  <%= link_to 'Back to Carts', group_carts_path, :class => 'btn' %>
</div>
