<% if signed_in? %>

<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>

<% else %>

  <h1>Comestibles</h1>

  <%= image_tag "groceries.png", id: "groceries_image" %>

  <p class="blurb">
  Buying groceries is a pain in the ass. Every week. The problem only gets worse when you’re trying to buy groceries for a large group. Comestible makes shared groceries easy.
  </p>


  <button>
  <%= link_to "Login", signin_url %>
  </button>

  <br />
  <br />

  <%= link_to "If you don't have an account, register now!", signup_url %>
<% end %>